body {
  margin: 0;
  padding-top: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav,
.logo,
.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.links {
  width: 45%;
}

.links a {
  text-decoration: none;
  color: #067ff1;
  font-size: 1.5rem;
}

hr {
  width: 1px;
  height: 15px;
  background-color: #0c0c0c;
  transform: scaleY(-1);
}

.nav img {
  width: 50px;
}

.logo {
  gap: 15px;
}

h1 {
  margin: 0;
}
